body{
    font-family: "Parkinsans", sans-serif;
    color:rgb(37, 43, 35)
}
.headerdiv{
        background-color:rgb(55, 66, 55);
    margin:0;
    left:0;
    top:0;
    right:0;
    
    
    
}
.slogan{
    margin-left:170px;
    color:rgb(206, 194, 194);
    font-size:15px;
    margin-bottom:19px;
    padding-bottom:0;
    height:16px;
    padding-top:5px
}
.two{
    display:flex;
    flex-direction:column;
    margin-left:109px;
    margin-top:0;
    padding-top:0;
}
.straightsymbol{
    font-size:30px
}
.box{
    padding-top:0;
    margin-top:0;
    font-size:20px;
    border:solid;
    height:70px;
    width:800px;
    border-radius:100px;
    border-color:rgb(206, 194, 194);
    margin-bottom: 6px;
    color:rgb(248, 243, 236)
}
.b{
    color:rgb(228, 104, 3)
}
nav{
    display:flex;
    flex-direction:row;
    gap:7px;
    margin-bottom:9px;
    font-size:12px;
    

}
.home,.aboutus,.contactus{
    background-color:rgb(239, 243, 233);
    padding:2px;
   
    
   }

  
   
.home{
    background-color:rgb(228, 104, 3);
    color:rgb(37, 36, 36)
}   
.navv{
    color:rgb(14, 13, 10);
    text-decoration:none;
}


.nav2{
    color:black
}
.nav3{
    color:whitesmoke
}
main{
    display:grid;
    grid-template-columns:250px 250px 240px;
    font-size:13px;
    gap:30px;
    margin-top:10px;
    margin-left:250px;
    margin-bottom:20px
    
}
h3{
    color:rgb(126, 182, 22);
    font-size:20px
}
h1{
    height:40px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left:20px
    
}
.sponsors{
    margin-bottom:0px;
    padding-bottom:7px;
    margin-top:40px;
    font-weight:600;
}
.pone{
   margin-top:5px; 
}
.date{
    margin-top:27px
}
.read{
    color:rgb(253, 101, 101);
    text-decoration:underline
}
.comment{
    color:rgb(56, 122, 56);
    text-decoration:underline;
}


footer{
    display:flex;
    flex-direction:column;
    
    bottom:0;
    right:0;
    left:0;
    color:white;
    font-size:12px;
    font-family:Verdana,  Tahoma,
    
}
.thethree{
    background-color:rgb(30, 44, 30);
    display:grid;
    grid-template-columns:200px 300px 200px;
    gap:10px;
    padding-bottom:5px;
    justify-content:center;

}
.copyright{
    background-color:rgb(13, 20, 11);
    display:flex;
    gap:10px;
    padding-left:300px
    
}
.right{
    margin-top:10px
}
.bottomnav{
    display:flex;
    gap:20px;
    margin-left:300px;
    color:blanchedalmond
}
.learnmore{
    background-color:rgb(250, 195, 44);
    border-radius:2px;
    padding:2px;
    
}
.siximages{
    display:grid;
    grid-template-columns: 40px 40px 40px;
}
.im{
    width:40px;
    height:40px;
    object-fit:cover;
    margin:2px;}
.img1,.img2,.img4,.img5{
    width:100%;
    height:80px;
    object-fit: cover;
}  
.imageforabout{
    float: left;
    width:50px;
    height:40px;
    object-fit: cover;
    margin-right:5px
}  



